POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="postgres"
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="your-database-password"

AWS_ACCESS_KEY_ID="your-access-key"
AWS_SECRET_ACCESS_KEY="your-secret-key"
AWS_REGION="us-east-1"
ENDPOINT_URL="s3-endpoint-url"
BUCKET_NAME="your-bucket-name"
